<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.zhongsou.mybatis.dao.PageStudentDao">
	
	<sql id="selectColumns"> student_id, student_name
	</sql>
	
	<select id="getStudents" resultType="Student" >
		select <include refid="selectColumns"></include> 
		from student
	</select>
</mapper>
